.grid{
    border: 1px solid black;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    height: 20px;
    width: 20px;
    
}


.player-blue{
    background-color: blue;
    border-radius: 10px;
}
.player-red{
    background-color:red;
    border-radius: 10px;
}